@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import './variables';
@import './desktop';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    font-size: $fs;
    font-weight: $fw-regular;
    color: $f-clr;
    background-color: $bg-main;
}

h1 {
    font-size: 1.1em;
    font-weight: $fw-regular;
}

h2 {
    font-size: inherit;
    font-weight: $fw-bold;
}

p {
    font-size: .7em;
    padding-bottom: .3rem;
}

h1,
h2,
.actual-time {
    color: white;
}

ul {
    list-style: none;
    // font-size: .8em;
}

li:hover {
    color: white;
    cursor: pointer;
}

.cards,
.cards-wrapper {
    border-radius: $corner;
}

.container {
    @include grid(1fr, auto, 1.4rem);

    width: 80%;
    margin: 5rem auto auto auto;

    .profile-card {
        @include grid (1fr, 1fr .5fr, 0);
        background-color: $bg-tile;
        border-radius: $corner;

        .profile-details {
            @include flex;
            justify-content: flex-start;
            gap: 1rem;
            background-color: $tile-user;
            z-index: 2;
            border-radius: $corner;

            padding: 1.5rem 1.7rem;

            img {
                width: 3.5rem;
                border-radius: 50%;
                border: 3px solid white;
            }
        }

        .select-time > ul {
            @include flex;

            width: 100%;
            padding: 1.4rem 1.7rem;
        }
    }

    .cards {
        position: relative;
        @include grid (1fr, 2rem auto, 0);
        background-color: $tile-work;
        overflow: hidden;
        
        .icon {
            position: absolute;
            top: -1rem;
            right: 1rem;
            z-index: 1;
            scale: .8;
        }

        .cards-wrapper {
            padding: 1.5rem 1.7rem;
            background-color: $bg-tile;
            grid-row: 2/4;
    
            z-index: 2;
            .card-menu {
                @include flex;
                padding-bottom: .5rem;
            }
    
            .time {
                @include flex;

                .actual-time {
                    font-size: 1.7em;
                    font-weight: $fw-small;
                }

                .previous-time {
                     font-size: .8em;
                }
            }
        }
    }
}

#play {
    background-color: $tile-play;
}

#study {
    background-color: $tile-study;
}

#exercise {
    background-color: $tile-exercise;
}

#social {
    background-color: $tile-social;
}

#self-care {
    background-color: $tile-selfcare;
}

footer {
    margin-top: 1rem;
}

.attribution {
    font-size: clamp(10px, 1vw, 12px);
    text-align: center;
    padding: 1rem;
    a {
      color: hsl(228, 45%, 44%);
    }
}